@media only screen and (max-width: 992px){
    .logo{
        font-size: 28px;
    }

    header{
        padding: 20px 0;
    }

    header .nav-toggler-btn, header #nav-toggler{
        display: block;
        cursor: pointer;
    }
    
    header .nav-toggler-btn{
        background: none;
        border: none;
    }

    header #nav-toggler {
        position: absolute;
        right: 2px;
        top: 3px;
        width: 40px;
        height: 25px;
        opacity: 0;
    }

    header nav ul {
        position: absolute;
        right: 5px;
        top: -100vh;
        width: 200px;
        background: #fdfff5fb;
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        padding: 10px;
        gap: 20px;
        transition: .4s;
    }

    header #nav-toggler:checked ~ #nav-elements-wrap{
        top: 40px;
    }

    header nav ul li{
        flex-basis: 100%;
    }

    .banner .banner-txt h1 {
        font-size: 44px;
        line-height: 1.2em;
    }

    .featuresList .feature-list-left {
        gap: 15px;
    }

    .featuresList .feature-list-right {
        padding-left: 30px;
    }

    .featuresList .feature-list-right h2 {
        font-size: 32px;
        line-height: 1.3em;
    }

    .features .features-left{
        padding-right: 10px;
        flex-basis: 50%;
    }

    .features .features-right{
        padding-left: 10px;
        flex-basis: 50%;
    }

    .features .features-left .feature-box {
        padding: 15px;
    }

    .features .features-right .badge {
        width: 240px;
        height: 150px;
        left: 0;
        gap: 0;
    }

    .features .features-right .badge h2 {
        font-size: 38px;
    }

    .features .features-right .badge p {
        font-size: 18px;
    }

    .sponsors .sponsors-wrap{
        justify-content: center;
        gap: 40px;
    }

    .sponsors .sponsors-wrap .single-sponsor{
        flex-basis: 25%;
        filter: grayscale(0);
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px){
    .facts .single-fact {
        flex-basis: 180px;
        height: 180px;
    }

    .facts .single-fact h4 {
        font-size: 28px;
    }

    .facts .single-fact h5 {
        font-size: 17px;
        color: #727272;
        font-weight: 600;
    }
}

@media only screen and (max-width: 768px){
    .featuresList .feature-list-left, .featuresList .feature-list-right {
        flex-basis: 100%;
        max-width: 550px;
        margin: 20px auto;
        padding: 0;
    }

    .features{
        max-width: 550px;
        margin: auto;
    }

    .features .features-left,
    .features .features-right{
        flex-basis: 100%;
        margin: 20px 0;
    }

    .facts .facts-wrap{
        justify-content: center;
        gap: 5px;
    }
}

@media only screen and (max-width: 576px){
    .secTitle {
        font-size: 28px;
    }

    p {
        font-size: 14px;
        line-height: 1.5em;
    }

    .banner{
        margin-top: 50px;
    }

    .banner .banner-txt h1 {
        font-size: 28px;
    }

    .featuresList .feature-list-left {
        gap: 5px;
    }

    .featuresList .feature-list-right h2 {
        font-size: 32px;
    }

    .sponsors .sponsors-wrap .single-sponsor{
        flex-basis: 100%;
        max-width: 150px;
    }
}